<h1>{{lesson.title}}</h1>

<h2>Reading</h2>

<p>Python is one of the most beginner friendly programming languages.</p>

<h2>Video</h2>

<iframe width="560" height="315"
src="https://www.youtube.com/embed/kqtD5dpn9C8">
</iframe>

<h2>Quiz</h2>

<form id="quiz">

Python is a...

<br>

<input type="radio" name="q1" value="a">
Programming Language

<br>

<input type="radio" name="q1" value="b">
Operating System

<br><br>

<button type="button" onclick="gradeQuiz()">Submit</button>

</form>

<p id="result"></p>

<script src="/static/script.js"></script>
